<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="Logger config" status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level- %msg%n"/>
        </Console>
        <File name="ErrorFileAppender" fileName="reports/error.log" append="false">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36}- $msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="info"/>
        </Root>
        <Logger name="com.brainhatchery" level="info" additivity="true">
        </Logger>
    </Loggers>
</Configuration>